--
-- PostgreSQL database dump
--

\restrict Wr7hlJTka2WxmZJaDjvaQ27UwqcefG7WVE3D9pf4Quwn7wX4s2EikEYfB1SDBbn

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Listing; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Listing" (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isFirm" boolean DEFAULT false NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    email text,
    phone text,
    "photoUrl" text,
    city text,
    state text,
    "zipCode" text,
    latitude double precision,
    longitude double precision,
    "notableResults" text[] DEFAULT '{}'::text[] NOT NULL,
    "keyCharacteristics" text[] DEFAULT '{}'::text[] NOT NULL,
    "barNumber" text,
    website text,
    linkedin text,
    facebook text,
    approved boolean DEFAULT false NOT NULL,
    description text,
    firm text,
    "isNational" boolean DEFAULT false NOT NULL,
    specialties text[] DEFAULT ARRAY[]::text[],
    tagline text,
    featured boolean DEFAULT false NOT NULL,
    "isNonprofit" boolean DEFAULT false NOT NULL,
    "streetAddress" text,
    "yearAdmitted" integer
);


ALTER TABLE public."Listing" OWNER TO postgres;

--
-- Name: Listing_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Listing_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Listing_id_seq" OWNER TO postgres;

--
-- Name: Listing_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Listing_id_seq" OWNED BY public."Listing".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Listing id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Listing" ALTER COLUMN id SET DEFAULT nextval('public."Listing_id_seq"'::regclass);


--
-- Data for Name: Listing; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Listing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Listing_id_seq"', 150, true);


--
-- Name: Listing Listing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Listing"
    ADD CONSTRAINT "Listing_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Listing_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Listing_slug_key" ON public."Listing" USING btree (slug);


--
-- PostgreSQL database dump complete
--

\unrestrict Wr7hlJTka2WxmZJaDjvaQ27UwqcefG7WVE3D9pf4Quwn7wX4s2EikEYfB1SDBbn

